body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #E2DBBE;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: blue;
    font-weight: bold;
}

.topo {
    background-color: rgb(24, 143, 167);
    padding: 16px 32px;
}

.topo-tudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apresentacao {
    text-align: center;
    padding-top: 36px;
}

.botao {
    background-color: rgb(118, 159, 182);
    padding: 15px 20px;
    border-radius: 10em;
}

.botaocompra {
    background-color: rgb(118, 159, 182);
    padding: 2px 15px;
    border-radius: 10em;
}

.botao:hover {
    font-size: larger;
    color: rgb(254, 253, 255);
}

.produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.produto {
    background-color: rgb(157, 187, 174);
    border-radius: 15px;
    border: 2px solid rgb(7, 7, 7);
}

.logoimagem {
    width: 550px;
    height: auto;
    border-radius: 10px;
}

.sobre{
    display: flex;
    text-align: center;
}


img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}